# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=crud_users

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# URL do Frontend (para CORS)
FRONTEND_URL=http://192.168.3.71:3000

# Configurações de Segurança (opcional)
# JWT_SECRET=seu_jwt_secret
# ENCRYPTION_KEY=sua_chave_de_criptografia_aqui 